.Label {
    background: white;
    border-radius: 3px;
    font-size: 10px;
    padding: 2px 6px;
    margin: 4px;
    box-sizing: content-box;
}

.Label:hover {
    cursor: pointer;
}

#_2ae4ba70-7814-46f4-8ffc-d1278df3d0e2 {
    background: paleturquoise;
    border: 1px solid paleturquoise;
}

#_e903cda9-c700-44b2-964e-023b9c6dce3f {
    background: peachpuff;
    border: 1px solid peachpuff;
}

#_edf61992-6c8a-436c-94a5-866878cfec43 {
    background: palevioletred;
    border: 1px solid palevioletred;
}

#_2ae4ba70-7814-46f4-8ffc-d1278df3d0e2.Unselected,
#_e903cda9-c700-44b2-964e-023b9c6dce3f.Unselected,
#_edf61992-6c8a-436c-94a5-866878cfec43.Unselected {
    background: white;
    border: 1px solid rgb(150, 150, 150);
    color: rgb(150, 150, 150);
}

@media (min-width: 480px) {
    .Label {
        font-size: 14px;
    }
}
