.Container {
    align-items: stretch;
    border-bottom: 1px solid rgb(231, 231, 231);
    display: flex;
    justify-content: space-between;
    padding: 16px 8px;
    width: 100%;
}

.Container-left {
    align-items: center;
    display: flex;
}

.Data {
    margin-right: 32px;
}

.Data:last-of-type {
    margin-right: 0;
}

.Text {
    font-size: 20px;
}

.Labels {
    width: 266px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.Labels:hover {
    background: rgb(241, 241, 241);
    cursor: pointer;
}

.Labels-add {
    font-size: 48px;
    font-weight: bold;
    color: rgb(241, 241, 241);
    margin-right: 8px;
}

.Labels-add:hover {
    color: rgb(231, 231, 231);
    cursor: pointer;
}
