.Container, .Container-left {
    align-items: center;
    flex-direction: column;
}

.Container {
    border-bottom: 1px solid rgb(231, 231, 231);
    display: flex;
    justify-content: space-between;
    padding: 16px 8px;
    width: 100%;
}

.Container-left {
    align-items: center;
    display: flex;
}

.Container-left > div {
    margin-bottom: 8px;
}

.Text {
    font-size: 20px;
}

.Parties-container {
    color: rgb(140, 140, 140);
    display: flex;
}

.Parties-container > div {
    margin: 0 8px;
}

.Amount {
    font-weight: bold;
}

.Labels {
    width: 100%;
    height: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Labels:hover {
    background: rgb(241, 241, 241);
    cursor: pointer;
}

.Labels-add {
    font-size: 48px;
    font-weight: bold;
    color: rgb(241, 241, 241);
    margin-right: 8px;
    text-align: center;
}

.Labels-add:hover {
    color: rgb(231, 231, 231);
    cursor: pointer;
}

@media (min-width: 1048px) {
    .Container, .Container-left {
        flex-direction: row;
        justify-content: space-between;
    }

    .Container-left > div {
        margin-bottom: 0;
    }

    .Text {
        width: 266px;
    }

    .Parties-container {
        width: 266px;
    }

    .Amount {
        text-align: right;
        min-width: 164px;
        padding-right: 40px;
        flex-grow: 1;
    }

    .Labels {
        justify-content: flex-end;
        width: 266px;
    }

    .Labels-add {
        text-align: right;
        width: 266px;
        height: 64px
    }

}
